# Bootstrap
app/bootstrap*
.elasticbeanstalk/*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
*~
src/Acme/SpyBundle/Entity/*php~
#web/bundles/*

# Configuration files
app/config/parameters.ini
