<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true">

    <testsuite name="my Test Suite">
        <directory>./api_test</directory>
    </testsuite>
</phpunit>
